name: CI/CD Template

on:
  workflow_call:
    inputs:
      project-name:
        required: true
        type: string
      acr-name:
        required: true
        type: string
      image-tag:
        required: false
        type: string
        default: "1.0.${{ github.run_number }}"  # default versioned tag
      java-version:
        required: false
        type: string
        default: "21"
      skip-tests:
        required: false
        type: boolean
        default: false
    secrets:
      ACR_USERNAME:
        required: true
      ACR_PASSWORD:
        required: true
    

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: XiaoZ0108/myWorkFlow/.github/actions/checkout-code@v1

      - name: Detect Changes
        uses: XiaoZ0108/myWorkFlow/.github/actions/detect-changes@v1
        with:
          project-name: ${{ inputs.project-name }}

      - name: Setup JDK
        uses: XiaoZ0108/myWorkFlow/.github/actions/setup-jdk@v1
        with:
          java-version: ${{ inputs.java-version }}

      - name: Build & Test
        uses: XiaoZ0108/myWorkFlow/.github/actions/build-test@v1
        with:
          skip-tests: ${{ inputs.skip-tests }}
          project-name: ${{ inputs.project-name }}

      - name: Docker Login
        if: steps.detect.outputs.build == 'true'
        uses: XiaoZ0108/myWorkFlow/.github/actions/docker-login@v1
        with:
          acr-name: ${{ inputs.acr-name }}
          acr-username: ${{ secrets.ACR_USERNAME }}
          acr-password: ${{ secrets.ACR_PASSWORD }}

      - name: Docker Build & Push
        if: steps.detect.outputs.build == 'true'
        uses: XiaoZ0108/myWorkFlow/.github/actions/docker-build-push@v1
        with:
          acr-name: ${{ inputs.acr-name }}
          project-name: ${{ inputs.project-name }}
          image-tag: ${{ inputs.image-tag }}
